@keyframes FadeIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.App {
  max-height: 100%;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

#loginTitle,
#homeTitle,
#portalTitle {
  margin-top: 5%;
}

.modal-content {
  background: rgba(0, 0, 0, 0.575);
  box-shadow: 0 0 5px 1px rgb(79, 90, 187);
}

.modal-header {
  background: rgba(0, 0, 0, 0.575);
  /* border-bottom: 1px solid  rgb(83, 76, 224); */
  color: whitesmoke;
}

.modal-footer {
  text-align: right;
  border: unset;
}

.btn-dark {
  border: 1px solid  rgb(79, 90, 187);
}

.users,
.powerpoints {
  overflow: scroll;
}

.home-img {
  background: url("./imgs/exterior.jpg"), rgba(49, 48, 48, 0.815);
  background-blend-mode: color-dodge;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 350px;
  box-shadow: 0 0 5px 1px rgb(75, 92, 236);
}

.alert-success {
  background: rgba(0, 0, 0, 0.637);
  border: 1px solid lawngreen;
  color: lawngreen;
}

.alert-danger {
  background: rgba(0, 0, 0, 0.637);
  border: 1px solid tomato;
  color: tomato;
}

/* .titleSubHeader {
  background: rgba(201, 199, 199, 0.808);
  border: 1px solid dodgerblue;
}

.titleHeader {
  background: rgba(201, 199, 199, 0.803);
  border: 1px solid dodgerblue;
  margin-bottom: 10px;
} */

/* .home-img {
  background: whitesmoke;
} */

.title {
  color: rgb(104, 135, 238);
  text-shadow: 1px 1px 1px gold;
}

.fadeIn {
  animation: FadeIn 1.5s;
}