.canvas {
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: -9;
    min-height: 100%;
    width: 100%;
    /* background: rgba(132, 197, 197, 0.13); */
    background: url("../../imgs/exterior.jpg");
    background-size: cover;
    background-repeat: repeat-y;
  }