.navbar {
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.849);
    border-bottom: 1px solid  rgb(79, 90, 187);
  }
  
.navbar .navbar-toggler-icon {
    width: 40px;
    color:  rgb(79, 90, 187);
  }
  
.nav-link {
    color: rgba(245, 245, 245, 0.5);
  }
  
.navbar-brand {
    color: whitesmoke !important;
  }

.navbar-brand:hover {
    color: rgb(255, 196, 0) !important;
  }
  
.nav-link:hover {
    color: rgb(79, 90, 187);
  }
  
.nav-link.active {
    color: rgb(255, 196, 0)
  }